.grid-view {
  position: relative;
  margin-left: .3rem;
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 90vh;
}