.card {
  width: 305px;
  /* background-color: violet; */
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
  margin: .3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 140px 30px 30px;
  grid-template-areas:  "top"
                        "info"
                        "footer";

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.card-top {
  background-color: yellowgreen;
  grid-area: top;
  overflow: hidden;
}

.card-info {
  grid-area: info;
  background-color: tomato;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "price details";
  padding: 0 .3em;
}

.card-info > div {
  margin: auto 0;
}

.card-info-price {
  grid-area: price;
  text-align: start;
}

.card-info-details {
  grid-area: details;
  text-align: end;
  font-size: 13px;
}

.card-footer {
  display: grid;
  grid-area: footer;
  background-color: aquamarine;
  /* padding: .3em; */
  /* align-items: center; */
  /* margin: 0 auto; */

}

.address {
  font-size: 14px;
  text-align: start;
  margin: auto 0;
  padding: 0 .3em;

}

.card p {
  font-size: 12px;
}

.card img {
  margin: 0;
  max-width: 100%;
  height: auto;
}