.buy-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  margin: .1em;
}

.buy-container > div {
  margin: .1em;
  height: 90vh;
}

.map {
  background-color: teal;
}
