.buy-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  margin: .1em;
}

.buy-container > div {
  margin: .1em;
  height: 90vh;
}

.map {
  /* background-color: teal; */
}

.map h2 {
  position: absolute;
  z-index: 10;
  margin: .4rem;
  /* top: 1rem; */
  /* left: 1rem; */
  /* margin: 0; */
  /* padding: 0; */
}