h4 {
  text-align: start;
}

.modal {
  width: 90%;
  height: 80vh !important;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 10vh;
  left: 5%;
  text-align: start;
  
}

.modal__header {
  height: 40%;
  overflow: hidden;
}

.modal__section {
  height: auto;
  margin: .5rem;
  /* display: inline; */
}

.modal__features {
  /* font-size: 16px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  /* padding: .5rem; */
}

modal__features li {
  /* text-align: start; */
  padding: .2rem .3rem;
}


.modal__article {
  /* font-size: 18px; */
  padding: .4rem .3rem;
  margin-top: .4rem;
  text-align: justify;
}

.modal__header img {
  width: 100%;
}

@media (min-width: 768px) {
  .modal {
    width: 45rem;
    /* max-width: 60rem; */
    left: calc((100% - 45rem) / 2);
  }
}
