.modal {
  width: 90%;
  height: 80vh !important;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 10vh;
  left: 5%;
  
}

.modal__header {
  height: 40%;
  overflow: hidden;
}

.modal__section {
  height: auto;
  /* display: inline; */
}

.modal__features {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: .5rem;
}

.modal__features li {
  text-align: start;
  padding: .3rem .5rem;
}

.modal__article {
  font-size: 18px;
  padding: 0 1rem;
  text-align: justify;
}

.modal__header img {
  width: 100%;
}

@media (min-width: 768px) {
  .modal {
    width: 45rem;
    /* max-width: 60rem; */
    left: calc((100% - 45rem) / 2);
  }
}
