* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  background-color: cornflowerblue;
  padding: 0.5em;
}

.main-nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  /* padding: 0; */
  margin-left: 1em;
  /* align-items: center; */
}

.main-nav li {
  margin: 0 0.5rem;
  /* height: 50px; */
  padding: 0.3em;
  background-color: blueviolet;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}
