body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control > label,
.form-control > input,
.form-control > textarea {
  /* padding: 0rem .1rem; */
  /* left: 15%; */
  position: inherit;
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 3px;
  resize: none;
}

.form-control label {
  text-align: start;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  transition: .3s;
  background: #6200ee;
  font: inherit;
  border: 1px solid #6200ee;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #4d00b9;
  border-color: #4d00b9;
}

.btn-cancel {
  background: #e53935 !important;
  font: inherit;
  border: 1px solid #e53935 !important;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}
